In [1]:
import sqlite3
con = sqlite3.connect('./test_db')

In [2]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)
        for column in row:
            print(column)

(1, 'name_a', 10.5)
1
1
name_a
10.5
name_a
1
name_a
10.5
10.5
1
name_a
10.5
(3, 'c_update', 3.14)
3
3
c_update
3.14
c_update
3
c_update
3.14
3.14
3
c_update
3.14
(4, 'name_d', 2.0)
4
4
name_d
2.0
name_d
4
name_d
2.0
2.0
4
name_d
2.0

In [4]:
insert_sql = 'INSERT INTO person VALUES(?,?,?)'
insert_param = (100,'name_z',99.9)
cur.execute(insert_sql,insert_param)

In [14]:
cur.execute('SELECT * FROM person WHERE size > ?', (10,))
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9)]

In [15]:
con.close()
cur.execute('SELECT * FROM person WHERE size > ?', (10,))

ProgrammingError: Cannot operate on a closed database.